<!doctype html>
<html lang="es-es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  
  <title>Preguntas frecuentes sobre Brightcove Audience</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">  
  <link data-react-helmet="true" rel="preload" as="font" href="https://files.brightcove.com/fonts/balto/baltoweb-ultra.eot" type="font/eot">
  <link data-react-helmet="true" rel="preload" as="font" href="https://files.brightcove.com/fonts/balto/baltoweb-ultra.woff" type="font/woff">
  <link data-react-helmet="true" rel="preload" as="font" href="https://files.brightcove.com/fonts/balto/baltoweb-super.eot" type="font/eot">
  <link data-react-helmet="true" rel="preload" as="font" href="https://files.brightcove.com/fonts/balto/baltoweb-super.woff" type="font/woff">
  <link data-react-helmet="true" rel="preload" as="font" href="https://files.brightcove.com/fonts/balto/baltoweb-black.eot" type="font/eot">
  <link data-react-helmet="true" rel="preload" as="font" href="https://files.brightcove.com/fonts/balto/baltoweb-black.woff" type="font/woff">
  <link data-react-helmet="true" rel="preload" as="font" href="https://files.brightcove.com/fonts/balto/baltoweb-bold.eot" type="font/eot">
  <link data-react-helmet="true" rel="preload" as="font" href="https://files.brightcove.com/fonts/balto/baltoweb-bold.woff" type="font/woff">
  <link data-react-helmet="true" rel="preload" as="font" href="https://files.brightcove.com/fonts/balto/baltoweb-medium.eot" type="font/eot">
  <link data-react-helmet="true" rel="preload" as="font" href="https://files.brightcove.com/fonts/balto/baltoweb-medium.woff" type="font/woff">
  <link data-react-helmet="true" rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500&amp;display=swap">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://support.brightcove.com/site-assets/css/site/prism.css">
  <link rel="stylesheet" href="https://support.brightcove.com/site-assets/css/site/styles.css">
  <link rel="stylesheet" href="https://support.brightcove.com/site-assets/css/site/landing-page.css">
  <link rel="stylesheet" href="https://support.brightcove.com/site-assets/css/site/tabs.css">
  <link rel="stylesheet" href="/assets/css/local.css">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/381443caa8.js" crossorigin="anonymous"></script>
  <script src="https://support.brightcove.com/site-assets/js/site/google-analytics.js"></script>
  <script src="/assets/js/sajari-head.js"></script>
</head>

<body class="body">

<header>
  <div class="div-header">
    <a href="/"><span class="product-logo" style="font-family:'Balto Web','Public Sans';font-size:2em;font-weight:bold;">BRIGHTCOVE AUDIENCIA<sup>™</sup></span></a>
<!-- GTranslate: https://gtranslate.io/ -->
<select onchange="doGTranslate(this);"><option value="">Seleccionar idioma</option><option value="en|en" translate="No">English</option><option value="en|zh-TW" translate="No">繁體中文</option><option value="en|fr" translate="No">Français</option><option value="en|de" translate="No">Deutsche</option><option value="en|ja" translate="No">日本語</option><option value="en|ko" translate="No">한국어</option><option value="en|es" translate="No">Español</option></select>

<script>
/* <![CDATA[ */
function doGTranslate(lang_pair) {if(lang_pair.value)lang_pair=lang_pair.value;if(lang_pair=='')return;var lang=lang_pair.split('|')[1];var plang=location.hostname.split('.')[0];if(plang.length !=2 && plang.toLowerCase() != 'zh-cn' && plang.toLowerCase() != 'zh-tw')plang='en';location.href=location.protocol+'//'+(lang == 'en' ? '' : lang+'.')+location.hostname.replace('www.', '').replace(RegExp('^' + plang + '\\.'), '')+location.pathname+location.search;}
/* ]]> */
</script>

    <select id="site_select" class="bcls-select" style="margin-right: 1rem;">
      <option value="">Otros documentos de Brightcove</option>
      
        
          <option value="https://support.brightcove.com">Documentación Inicio</option>
        
      
        
          <option value="https://audience.support.brightcove.com">Audiencia de Brightcove</option>
        
      
        
          <option value="https://beacon.support.brightcove.com">Baliza Brightcove</option>
        
      
        
          <option value="https://campaign.support.brightcove.com">Campaña de Brightcove</option>
        
      
        
          <option value="https://engage.support.brightcove.com">Brightcove Engage</option>
        
      
        
          <option value="https://live.support.brightcove.com">Brightcove Live</option>
        
      
        
          <option value="https://gallery.support.brightcove.com">Brightcove Gallery</option>
        
      
        
          <option value="https://ssai.support.brightcove.com">Brightcove SSAI</option>
        
      
        
          <option value="https://social.support.brightcove.com">Brightcove Social</option>
        
      
        
          <option value="https://studio.support.brightcove.com">Video Cloud Studio</option>
        
      
        
          <option value="https://player.support.brightcove.com">Desarrollo de jugadores de Brightcove</option>
        
      
        
          <option value="https://apis.support.brightcove.com">API para la plataforma de Video Cloud</option>
        
      
        
          <option value="https://sdks.support.brightcove.com">SDK de dispositivos de Video Cloud</option>
        
      
        
          <option value="https://integrations.support.brightcove.com">Integraciones y conectores CMS</option>
        
      
        
          <option value="https://general.support.brightcove.com">Información general de Video Cloud</option>
        
      
        
          <option value="https://zencoder.support.brightcove.com">Zencoder</option>
        
      
    </select>


    <span class="secondary-nav"><a href="https://supportportal.brightcove.com/s/login/?"><img src="https://support.brightcove.com/site-assets/images/site/support.png" alt="soporte"/> Contactar con Soporte</a> <span style="vertical-align: top;margin-left:1em;margin-right:1em;">|</span> <a href="https://status.brightcove.com/">Estado<img src="https://support.brightcove.com/site-assets/images/site/status.png" alt="estado del sistema"/> del sistema</a></span> <br/>
    
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb arr-right">
      
      <li class="breadcrumb-item"><a href="/">Inicio</a></li>
      
      
      
      <li class="breadcrumb-item"><a href="/general/">Información general</a></li>
      
      <li class="breadcrumb-item active" aria-current="page">Preguntas frecuentes sobre Brightcove Audience</li>
    </ol>
  </nav>
</header>
<div class="container">
    <div class="row">
      <div class="col-sm-3 left-side-bar">
        <nav class="sidenav">
          
            
            <h5><a href="/index.html">Inicio</a></h5>
            
          
            
              <h5 class="submenu-header"><a href="/get-started/index.html">Empezar <strong>+</strong></a></h5>
              <ul class="sidenav-submenu" style="display:none;">
                
                  
                    <li><a href="/get-started/getting-started-audience-module.html">Introducción a Audience</a></li>
                  
                
                  
                    <li><a href="/get-started/audience-training-videos.html">Vídeos de formación del público</a></li>
                  
                
              </ul>
            
          
            
              <h5 class="submenu-header"><a href="/general/index.html">Información general <strong>+</strong></a></h5>
              <ul class="sidenav-submenu" style="display:none;">
                
                  
                    <li><a href="/general/audience-fields-and-data-definitions.html">Campos de audiencia y definiciones de datos</a></li>
                  
                
                  
                    <li><a href="/general/configuring-audience-settings.html">Configuración de la audiencia</a></li>
                  
                
                  
                    <li><a href="/general/creating-audience-enabled-player.html">Creación de un reproductor habilitado para audiencias</a></li>
                  
                
                  
                    <li><a href="/general/creating-audience-lead-form.html">Creación de un formulario de prospecto de audiencia</a></li>
                  
                
                  
                    <li><a href="/general/how-audience-module-identifies-viewers.html">Cómo identifica la audiencia a los espectadores</a></li>
                  
                
                  
                    <li>Publicación de un vídeo en correo electrónico<a href="/general/publishing-video-email-using-audience-module.html"></a></li>
                  
                
                  
                    <li>Uso de métricas y eventos personalizados<a href="/general/using-custom-metrics-and-events.html"></a></li>
                  
                
                  
                    <li>Visualización de eventos del reproductor<a href="/general/viewing-player-events-audience-module.html"></a></li>
                  
                
                  
                    <li>Visualización de actividad de vídeo<a href="/general/viewing-video-activity.html"></a></li>
                  
                
                  
                    <li>Visualización de información del perfil del visor<a href="/general/viewing-viewer-profile-information.html"></a></li>
                  
                
                  
                    <li>Trabajar con campos UTM<a href="/general/working-utm-fields-audience-module.html"></a></li>
                  
                
              </ul>
            
          
            
              <h5 class="submenu-header"><a href="/integrations/index.html">Integraciones <strong>+</strong></a></h5>
              <ul class="sidenav-submenu" style="display:none;">
                
                  
                    <li class="submenu-header">
                      <a href="/integrations/eloqua/index.html">Eloqua <strong>+</strong></a>
                      <ul class="sidenav-subsubmenu" style="display:none;">
                        
                        <li><a href="/integrations/eloqua/creating-custom-lead-forms-oracle-eloqua.html">Creación de formularios de clientes potenciales personalizados</a></li>
                        
                        <li><a href="/integrations/eloqua/eloqua-integration-testing-guide.html">Guía de Pruebas de Integración de Eloqua</a></li>
                        
                        <li><a href="/integrations/eloqua/embedding-video-cloud-video-eloqua-landing-page.html">Incrustar un vídeo en una página de destino</a></li>
                        
                        <li><a href="/integrations/eloqua/integrating-video-cloud-oracle-eloqua.html">Integración con Oracle Eloqua</a></li>
                        
                      </ul>
                    </li>
                  
                
                  
                    <li class="submenu-header">
                      <a href="/integrations/hubspot/index.html">HubSpot <strong>+</strong></a>
                      <ul class="sidenav-subsubmenu" style="display:none;">
                        
                        <li><a href="/integrations/hubspot/creating-custom-lead-forms-hubspot.html">Creación de formularios de clientes potenciales personalizados</a></li>
                        
                        <li><a href="/integrations/hubspot/hubspot-rest-api-integration-testing-guide.html">Guía de prueba de API REST de HubSpot</a></li>
                        
                        <li><a href="/integrations/hubspot/integrating-video-cloud-hubspot-using-client-side-apis.html">Integración con HubSpot (API del lado del cliente)</a></li>
                        
                        <li><a href="/integrations/hubspot/integrating-video-cloud-hubspot-using-rest-apis.html">Integración con HubSpot (API REST)</a></li>
                        
                      </ul>
                    </li>
                  
                
                  
                    <li class="submenu-header">
                      Marketo +<a href="/integrations/marketo/index.html"><strong></strong></a>
                      <ul class="sidenav-subsubmenu" style="display:none;">
                        
                        <li><a href="/integrations/marketo/creating-custom-lead-forms-marketo.html">Creación de formularios de clientes potenciales personalizados</a></li>
                        
                        <li><a href="/integrations/marketo/integrating-video-cloud-marketo-using-munchkin.html">Integración con Marketo (Munchkin)</a></li>
                        
                        <li><a href="/integrations/marketo/integrating-video-cloud-marketo-using-rest-apis.html">Integración con Marketo (API REST)</a></li>
                        
                        <li>Guía de pruebas de integración de REST de Marketo<a href="/integrations/marketo/marketo-rest-integration-testing-guide.html"></a></li>
                        
                      </ul>
                    </li>
                  
                
                  
                    <li class="submenu-header">
                      No mapa +<a href="/integrations/non-map/index.html"><strong></strong></a>
                      <ul class="sidenav-subsubmenu" style="display:none;">
                        
                        <li><a href="/integrations/non-map/creating-custom-integrations-audience-module.html">Creación de integraciones personalizadas</a></li>
                        
                        <li><a href="/integrations/non-map/integrating-audience-single-sign.html">Integración con inicio de sesión único</a></li>
                        
                        <li>Uso de audiencia para realizar el seguimiento de los visores<a href="/integrations/non-map/using-audience-module-track-viewers.html"></a></li>
                        
                      </ul>
                    </li>
                  
                
                  
                    <li class="submenu-header">
                      Salesforce +<a href="/integrations/salesforce/index.html"><strong></strong></a>
                      <ul class="sidenav-subsubmenu" style="display:none;">
                        
                        <li><a href="/integrations/salesforce/creating-custom-lead-forms-salesforce.html">Creación de formularios de clientes potenciales personalizados</a></li>
                        
                        <li><a href="/integrations/salesforce/creating-custom-lead-forms-salesforce.html">Creación de objeto de Salesforce para Pardot</a></li>
                        
                        <li><a href="/integrations/salesforce/integrating-video-cloud-salesforce.html">Integración con Salesforce</a></li>
                        
                      </ul>
                    </li>
                  
                
              </ul>
            
          
            
              <h5 class="submenu-header"><a href="/admin/index.html">Administración de audiencias <strong>+</strong></a></h5>
              <ul class="sidenav-submenu" style="display:none;">
                
                  
                    <li>Exportación de datos de audiencia<a href="/admin/exporting-audience-data-audience-module.html"></a></li>
                  
                
                  
                    <li>Exportación de datos de prospecto<a href="/admin/exporting-gallery-lead-data.html"></a></li>
                  
                
                  
                    <li>Administración de datos del visor<a href="/admin/managing-viewer-data.html"></a></li>
                  
                
                  
                    <li>Solución de problemas de audiencia<a href="/admin/troubleshooting-audience-issues.html"></a></li>
                  
                
              </ul>
            
          
            
              <h5 class="submenu-header"><a href="/develop/index.html">Desarrolladores <strong>+</strong></a></h5>
              <ul class="sidenav-submenu" style="display:none;">
                
                  
                    <li>Visión general:<a href="/develop/overview-audience-api.html"> API de audiencia</a></li>
                  
                
                  
                    <li><a href="/develop/reference.html">Referencia de API de audiencia</a></li>
                  
                
              </ul>
            
          
            
              <h5 class="submenu-header">Soporte +<a href="/support/index.html"><strong></strong></a></h5>
              <ul class="sidenav-submenu" style="display:none;">
                
                  
                    <li><a href="/support/brightcove-answer.html">Respuestas de Brightcove</a></li>
                  
                
                  
                    <li>Visualización de la página Estado del Sistema de Brightcove<a href="/support/viewing-brightcove-system-status-page.html"></a></li>
                  
                
                  
                    <li><a href="/support/contact-sales.html">Contacto con Ventas</a></li>
                  
                
                  
                    <li>Apertura de un caso de soporte<a href="/support/opening-case-with-brightcove-support.html"></a></li>
                  
                
              </ul>
            
          
      </nav>
    </div>
    <div class="col-lg-7" style="background-color: white;color: #333333;margin-top: -1em;margin-bottom: -1em;padding-bottom:1em;">
  <!-- bootstrap layout -->

<p id="bc_veggie_burger_wrapper" style="display: none;"><img id="bc_veggie_burger" src="/assets/images/feather/menu.svg" alt="Menú de navegación"/></p>

<!-- search bar -->
<div id="nav-search-box" style="margin-top: 1rem;"></div>
<!-- in-page navigation for narrow screens -->
<details class="centered-inpage-nav" id="centered_inpage_nav">
  <summary><h6 class="toc">Contenido de la página</h6></summary>
  <nav id="centered_toc"></nav>
  <ul id="centered_in_page_toc" class="list-none"></ul>
</details>
<!-- open in new tab/window -->
<a id="open_new_tab" href="#" target="_blank" style="display: none;"><img src="/assets/images/feather/external-link.svg" alt="abrir en una nueva pestaña" style="margin-top:4em;width: 1.5em;"/></a>



  
    


<article class="bcls-article">
  <h1>Preguntas frecuentes sobre Brightcove Audience</h1>
  <summary>Este tema contiene algunas de las preguntas comunes que se hacen acerca de Brightcove Audience.</summary>
  <section class="bcls-section" id="why-how">
    <h2>Por qué público y cómo funciona</h2>
    <dl>
      <dt class="bcls-question language-editable">¿Por qué necesito realizar un seguimiento de vídeo en mi solución de automatización de marketing?</dt>
      <dd class="bcls-answer language-editable">Las soluciones de automatización de marketing no realizan un seguimiento de vídeo hoy en día. Si está invirtiendo en vídeo como una potente pieza de contenido, debe asegurarse de que está rastreando su eficacia y automatizando las comunicaciones con los clientes potenciales o usuarios que ven su contenido. </dd>
      <dt class="bcls-question language-editable">¿Brightcove y el módulo Audience utilizan cookies?</dt>
      <dd class="bcls-answer language-editable">El módulo Audience crea y utiliza una cookie de terceros para identificar a los usuarios cuando se realiza una integración. De esta manera, no se pide a los espectadores que rellenen un formulario de prospecto por segunda vez. El módulo también utiliza las API de Marketo, HubSpot y Eloqua, que a su vez utilizan cookies para rastrear a los espectadores. Al utilizar Perfiles de audiencia, se utiliza una cookie de Brightcove.</dd>
      <dt class="bcls-question language-editable">¿Brightcove Audience está habilitado para todos los clientes?</dt>
      <dd class="bcls-answer language-editable">No. La audiencia está disponible como un complemento comprable para Video Marketing Suite (VMS). Sin embargo, los perfiles de audiencia están disponibles para todos los clientes de Brightcove de forma gratuita. Se puede pensar en ello como «audiencia-lite».</dd>
      <dt class="bcls-question language-editable">Quién es elegible para Perfiles de audiencia.</dt>
      <dd class="bcls-answer language-editable">A partir del cuarto trimestre de 2017, todos los clientes de VMS tendrán acceso a perfiles de audiencia sin costo alguno. <a href="https://audience.support.brightcove.com/integrations/non-map/using-audience-module-track-viewers.html">Los clientes tendrán que activarlo para comenzar a rastrear los datos</a>. Los clientes de Enterprise Video Suite (EVS) también tendrán disponible el seguimiento de SSO de audiencia.</dd>
    </dl>
  </section>
  <section class="bcls-section" id="tracking-limitations">
    <h2>Seguimiento y limitaciones del visor</h2>
    <dl>
      <dt class="bcls-question language-editable">¿Qué limitaciones tienen los perfiles de audiencia en comparación con el módulo Audience con todas las funciones?</dt>
      <dd class="bcls-answer language-editable">
        <ul>
          <li>Sin integraciones con sistemas de terceros</li>
          <li>Sin acceso a la API</li>
          <li>No hay formularios de prospecto personalizados (sólo formularios de clientes potenciales de audiencia)</li>
          <li>1000 vistas/máximo de captura de 24 horas</li>
        </ul>
        Aún puedes exportar manualmente los datos de Audience a un archivo CSV o XLS.</dd>
      <dt class="bcls-question language-editable">¿Qué limitaciones/requisitos tiene Audience cuando se conecta a una plataforma de automatización de marketing?</dt>
      <dd class="bcls-answer language-editable">Las limitaciones y requisitos se describen en la documentación de cada plataforma:
        <ul>
          <li>Oráculo Eloqua<a href="/integrations/eloqua/integrating-video-cloud-oracle-eloqua.html"></a></li>
          <li>HubSpot (API<a href="/integrations/hubspot/integrating-video-cloud-hubspot-using-client-side-apis.html">del lado del cliente o API</a> <a href="/integrations/hubspot/integrating-video-cloud-hubspot-using-rest-apis.html">REST</a>)</li>
          <li>Marketo<a href="/integrations/marketo/integrating-video-cloud-marketo-using-munchkin.html">Munchkin</a> o <a href="/integrations/marketo/integrating-video-cloud-marketo-using-rest-apis.html">API REST</a>)</li>
          <li>Salesforce<a href="/integrations/salesforce/integrating-video-cloud-salesforce.html"></a></li>
        </ul>
      </dd>
      <dt class="bcls-question language-editable">¿Hay algún límite sobre la frecuencia con la que se puede sondear la API de audiencia? Sé que hay un límite de 1000 en los resultados de búsqueda de videos, pero ¿hay otras mayúsculas relacionadas con la frecuencia con ese extremo de API? </dt>
      <dd class="bcls-answer language-editable">El número máximo de eventos de vista por llamada API es en realidad 100. No hay límite de velocidad en su lugar, pero si intentas llamarlo demasiado, probablemente se ralentizará un poco.</dd>
      <dt class="bcls-question language-editable">¿Hay alguna forma de obtener datos de Audience más rápido que el retraso de 3 horas que está presente actualmente? Me gustaría obtener métricas de «cerca de tiempo real».</dt>
      <dd class="bcls-answer language-editable">No. Si quieres métricas en tiempo real, necesitarás escribir tu propio plugin y enviar datos a tu propio sistema.</dd>
      <dt class="bcls-question language-editable">¿Cuál es el desencadenador para que una vista de evento se envíe a Audiencia? ¿Es cuando se completa el vídeo, cuando se cierra la ventana del reproductor o algo más? ¿Qué sucede si el usuario nunca completa el vídeo y no cierra la ventana del reproductor?</dt>
      <dd class="bcls-answer language-editable">Varía, pero, básicamente, el plugin Audience envía un latido de nuevo al servidor cada 10 segundos.</dd>
      <dt class="bcls-question language-editable">¿Cuándo considera la Audiencia que el seguimiento en una vista está «completado»? ¿Es cuando se cierra la ventana del reproductor o si completan el vídeo? ¿Qué sucede si ven parcialmente, pausan el vídeo y nunca cierran la ventana del reproductor?</dt>
      <dd class="bcls-answer language-editable">Es cuando han pasado 15 minutos desde la última vez que vimos un latido del corazón, básicamente falta de actividad.</dd>
      <dt class="bcls-question language-editable">¿Es posible que los datos del espectador cambien una vez que estén disponibles en los datos de visualización de audiencia? ¿Se actualizarán esos datos de eventos en el futuro mediante algún tipo de consolidación de registros? </dt>
      <dd class="bcls-answer language-editable">Una vez que los datos están disponibles en Audiencia a través de la interfaz de usuario o API, se consideran «resueltos» y no van a cambiar.</dd>
    </dl>
  </section>
  <section class="bcls-section" id="data-protection">
    <h2>Protección de datos y retención de registros</h2>
    <dl>
      <dt class="bcls-question language-editable">¿Es compatible con Audience GDPR?</dt>
      <dd class="bcls-answer language-editable">
        <p>Sí, Audience ofrece a los clientes la posibilidad de actuar en nombre de sus usuarios, buscando y depurando cualquier dato que hayan recopilado a través de Audience. </p>
        <p><a href="https://audience.support.brightcove.com/admin/managing-viewer-data.html">https://audience.support.brightcove.com/admin/managing-viewer-data.html</a></p>
      </dd>
      <dt class="bcls-question language-editable">¿Cuánto tiempo pueden conservarse los datos en Audience?</dt>
      <dd class="bcls-answer language-editable">Las integraciones de MAP se pueden establecer en un máximo de 6 meses, y las integraciones que no son de MAP se pueden establecer en 3 años. </dd>
      <dt class="bcls-question language-editable">¿Cuánto tiempo se almacenan en caché las búsquedas GUID?</dt>
      <dd class="bcls-answer language-editable">30 días para conocidos y 7 días para desconocidos (solo se aplica a integraciones de MAP, no se necesitan búsquedas para integraciones que no sean de mapa)</dd>
    </dl>
  </section>
  <section id="marketing-automation" class="bcls-section">
    <h2>Automatización de marketing y análisis de espectadores</h2>
    <dl>
      <dt class="bcls-question language-editable">¿Qué tiene de diferente el seguimiento de vídeos desde cualquier otro medio en mi plataforma de automatización de marketing?</dt>
      <dd class="bcls-answer language-editable">A diferencia de una página web o un documento técnico descargable, con un vídeo, puede determinar exactamente cuánto del vídeo vio el espectador y, por lo tanto, exactamente a qué contenido se ha expuesto. </dd>
      <dt class="bcls-question language-editable">¿Cómo se conecta con mi cuenta Eloqua/Marketo/Hubspot?</dt>
      <dd class="bcls-answer language-editable">Usted puede iniciar sesión en su cuenta de Eloqua/Marketo/Hubspot directamente a través de Video Marketing Suite en el módulo Audience. A partir de ahí, podrá crear reproductores y formularios de prospectos con el seguimiento MAP integrado, para que pueda comenzar a realizar el seguimiento de análisis de vídeo inmediatamente.</dd>
      <dt class="bcls-question language-editable">¿Puedo realizar un seguimiento de las vistas en mis páginas de destino de Eloqua/Marketo/Hubspot, así como en mis páginas de destino no Eloqua/Marketo/Hubspot (SiteCore/WordPress/Gallery, etc.)? </dt>
      <dd class="bcls-answer language-editable">Sí, siempre y cuando el reproductor que se está utilizando esté «Audiencia habilitada» (tenga instalado el plugin Audience), todas las vistas se rastrearán tanto si el jugador reside en una página de destino de MAP como en cualquier otra página de destino.</dd>
      <dt class="bcls-question language-editable">¿Qué puedo hacer un seguimiento con esta integración?</dt>
      <dd class="bcls-answer language-editable">Con nuestra integración, puede realizar un seguimiento de análisis de visualización de vídeo (vídeo, ID de vídeo, porcentaje de visualización, tiempo de visualización) de contactos conocidos que ya están en su base de datos.</dd>
      <dt class="bcls-question language-editable">¿Qué pasa con los contactos desconocidos? ¿Puedo rastrearlos también?</dt>
      <dd class="bcls-answer language-editable">Con Brightcove Audience, puede realizar un seguimiento de contactos desconocidos y, a continuación, cuando envíen un formulario Eloqua/Hubspot (hacerse conocido), Audience puede asociar su información de audiencia con ese nuevo contacto retroactivamente. Audience reenvía información de audiencia diariamente para que coincida con los datos de vista de contactos desconocidos a la instancia de Oracle Eloqua/HubSpot. </dd>
      <dt class="bcls-question language-editable">¿Dónde aparecerán mis datos de la vista de vídeo en mi MAP?</dt>
      <dd class="bcls-answer language-editable">Esto depende del MAP que esté utilizando. Consulte la siguiente documentación para <a href="https://audience.support.brightcove.com/integrations/eloqua/eloqua-integration-testing-guide.html">Oracle Eloqua</a>, <a href="https://audience.support.brightcove.com/integrations/marketo/marketo-rest-integration-testing-guide.html">Marketo</a> y <a href="https://audience.support.brightcove.com/integrations/hubspot/hubspot-rest-api-integration-testing-guide.html">HubSpot</a>.</dd>
      <dt class="bcls-question language-editable">¿Dónde aparecerán mis datos de visualización de vídeo en Salesforce?</dt>
      <dd class="bcls-answer language-editable">Las vistas de vídeo se entregan en Salesforce como una tarea bajo el contacto del espectador en la sección Actividad. Consulte <a href="https://audience.support.brightcove.com/integrations/salesforce/integrating-video-cloud-salesforce.html#sfdata">Visualización de datos de vídeo en Salesforce</a> para obtener un ejemplo de esto. </dd>
      <dt class="bcls-question language-editable">¿Puedo recibir notificaciones con Salesforce cuando uno de mis contactos ha visto vídeos?</dt>
      <dd class="bcls-answer language-editable">No directamente. Sin embargo, puede ejecutar informes que le notifiquen la actividad de un contacto.</dd>
      <dt class="bcls-question language-editable">¿Hay alguna diferencia entre el seguimiento con Salesforce frente a Oracle Eloqua/Marketo?</dt>
      <dd class="bcls-answer language-editable">La mayor diferencia es que Salesforce no utiliza cookies para rastrear a los usuarios. Por lo tanto, se debe pasar un identificador único para identificar al espectador. Consulte <a href="https://audience.support.brightcove.com/integrations/salesforce/integrating-video-cloud-salesforce.html#identify">este documento</a> para obtener más información. Además, Salesforce, al ser un CRM, no ofrece seguimientos automatizados ni puntuación de clientes potenciales. Sin embargo, puede crear tareas en Salesforce, que luego se asignan a su equipo de ventas para el seguimiento de la vida real.</dd>
      <dt class="bcls-question language-editable">Audience tiene una opción de integración «personalizada», ¿con qué otras plataformas puede integrar Audience usando esto?</dt>
      <dd class="bcls-answer language-editable">
        <p>La audiencia puede «integrarse» con cualquier plataforma de datos que:</p>
        <ol>
          <li>Utiliza un identificador único para cada registro de contacto</li>
          <li>Tiene una API que puede recibir datos adicionales de plataformas de terceros (como Audiencia)</li>
        </ol>
      </dd>
    </dl>
  </section>
  <section id="lead-forms" class="bcls-section">
    <h2>Formularios de Lead</h2>
    <dl>
      <dt class="bcls-question language-editable">¿Cuándo muestra Audience un formulario de prospecto?</dt>
      <dd class="bcls-answer language-editable">La configuración predeterminada sólo muestra el formulario de prospecto a un usuario desconocido de la base de datos de MAP (los que desea convertir en un usuario conocido). Puede anular esto en la configuración si elige mostrar siempre el formulario de prospecto. Esto es más útil para probar. Se realiza un seguimiento automático de los usuarios conocidos y esos datos se asocian con el contacto del MAP sin necesidad de mostrar un formulario.</dd>
      <dt class="bcls-question language-editable">¿Puedo personalizar los formularios de prospecto?</dt>
      <dd class="bcls-answer language-editable">Puede ajustar el texto y los campos mostrados mediante la interfaz de usuario. No se puede modificar más allá de lo que está disponible en la interfaz de usuario (Gallery puede actualizar algunos estilos para que los formularios coincidan con el sitio) </dd>
    </dl>
  </section>
  <section id="general" class="bcls-section">
    <h2>Temas generales</h2>
    <dl>
      <dt class="bcls-question language-editable">¿Qué código de inserción debo usar? ¿Iframe o en la página?</dt>
      <dd class="bcls-answer language-editable">Para que Audience funcione, es necesario utilizar el código de inserción avanzado. Si se utiliza el código de inserción estándar (iframe), entonces el reproductor se aísla de la página, lo que significa que el plugin Audience no puede ver el identificador único y, por lo tanto, todos los usuarios se verán como «desconocidos».</dd>
      <dt class="bcls-question language-editable">¿Qué es la automatización de marketing?</dt>
      <dd class="bcls-answer language-editable">La automatización de marketing es una tecnología que rastrea la interacción de los conductos/usuarios con diferentes canales de marketing online (correo electrónico, web, formularios, contenido, vídeo, redes sociales, etc.). La automatización de marketing ayuda a los comercializadores de marketing de manera más eficaz a través de estos canales y automatiza las tareas de marketing repetitivas (como las comunicaciones por correo electrónico). La automatización de marketing permite al vendedor configurar tareas automatizadas y personalizadas basadas en variables predefinidas. Por ejemplo, si un usuario ve el 75% de un vídeo específico, envíe un correo electrónico sobre ese tema específico, pero si solo ve el 12%, envíale algo más. </dd>
      <dt class="bcls-question language-editable">¿Brightcove es una empresa de automatización de marketing?</dt>
      <dd class="bcls-answer language-editable">No, Brightcove ofrece una solución completa para el marketing de vídeo. Con nuestra solución, puede obtener sus vídeos en línea, organizar su contenido, crear reproductores, crear portales de vídeo, realizar un seguimiento de análisis e integrarse con su propia plataforma de automatización de marketing existente. Brightcove integra el análisis de vídeo en plataformas de automatización de marketing.</dd>
      <dt class="bcls-question language-editable">¿Cómo puedo comprobar si una actividad personalizada de Marketo está configurada correctamente?</dt>
      <dd class="bcls-answer language-editable">Audience tiene una URL oculta que ofrece algunas herramientas de depuración para ciertos tipos de integraciones, siendo Marketo REST una. <a href="https://studio.brightcove.com/products/videocloud/audience/debug">https://studio.brightcove.com/products/videocloud/audience/debug</a>
        <figure class="bcls-figure"><img class="bcls-image--no-border" alt="configuración de audiencia " src="/assets/images/general/faq-debug.png"/></figure>
      </dd>
      <dt class="bcls-question language-editable">¿Qué hay que hacer para configurar una integración personalizada?</dt>
      <dd class="bcls-answer language-editable">Hay que hacer tres cosas:
        <ol>
          <li>Debe exponer un identificador único en la URL o código de la página que Audience puede capturar.</li>
          <li> Cree un script que utilice las API de Audience para recuperar los datos como un archivo JSON (Brightcove Global Services puede ayudar con esto).</li>
          <li> Asigne los datos a los campos de su base de datos de destino (piense en la combinación de hojas de cálculo).</li>
        </ol>
        La siguiente documentación de soporte cubre estas tareas:
        <ul>
          <li><a href="https://audience.support.brightcove.com/integrations/non-map/creating-custom-integrations-audience-module.html">Creación de integraciones personalizadas con el módulo Audience</a> - Cubre cómo proporcionar un identificador único que Audience puede capturar</li>
          <li> <a href="https://audience.support.brightcove.com/develop/overview-audience-api.html">Audience API</a> - Cubre cómo recuperar mediante programación todos los datos como un archivo JSON que luego puede importar en su sistema de procesamiento de datos de elección</li>
        </ul>
      </dd>
      <dt class="bcls-question language-editable">¿Cómo empuja Audience los datos de CDO a Eloqua?</dt>
      <dd class="bcls-answer language-editable">Utilizamos la API masiva de objetos personalizados. <a href="https://docs.oracle.com/cloud/latest/marketingcs_gs/OMCAC/api-bulk-2.0-customobjects.html">https://docs.oracle.com/cloud/latest/marketingcs_gs/OMCAC/api-bulk-2.0-customobjects.html </a></dd>
      <dt class="bcls-question language-editable">¿Cómo impulsa Audience la actividad de activos externos? ¿Cómo puedo controlar la campaña, el activo externo y los tipos de actividad utilizados?</dt>
      <dd class="bcls-answer language-editable">Utilizamos la API de actividad externa (<a href="https://docs.oracle.com/cloud/latest/marketingcs_gs/OMCAC/op-api-rest-2.0-data-activity-post.html">https://docs.oracle.com/cloud/latest/marketingcs_gs/OMCAC/op-api-rest-2.0-data-activity-post.html</a>). No hay control sobre el nombre de la campaña, el nombre del activo o el tipo. Simplemente creamos una campaña por nuestra cuenta (llamada BrightCoveVideoPlay) y luego procedemos a crear actividades, también llamadas BrightCoveVideoPlay. </dd>
      <dt class="bcls-question language-editable">¿Qué direcciones IP puedo incluir en la lista blanca para que Audience pueda hablar con el servicio X?</dt>
      <dd class="bcls-answer language-editable">Audience ha establecido un conjunto de direcciones IP que deben utilizarse para la creación de listas blancas de IP. Para ver la lista, edite una conexión de Eloqua y haga clic en el botón ¿ <a ng-click="showInfo()" ng-if="::!ctrl.hideWhitelistInfo &amp;&amp; ctrl.isEloqua(ctrl.integration)" context="troubleSeeing"><strong>No se pueden ver los datos de audiencia en Eloqua?</strong></a> para ver la lista de direcciones IP.</dd>
    </dl>
  </section>
</article>

<!-- complete bootstrap layout -->
    </div>
    <div class="col-sm-2 right-side-bar">
      
      <nav class="right-side-nav" id="right_side_nav">
        <h6 class="toc">Contenido de la página</h6>
        <ul id="in_page_nav" class="list-none"></ul>
      </nav>
      
    </div>
  </div>
</div>

<hr>
<footer class="bcls-footer" role="contentinfo">  <div class="row">
    <div class="region region-footer-top-center col-md-12">
      <nav role="navigation" aria-labelledby="block-brightcovesupport-menu" id="block-brightcovesupport" class="footer-menu">

        <h2>Asistencia técnica de Brightcove</h2>

        <ul class="menu">
          <li>
            Estado del sistema<a href="https://status.brightcove.com"></a>
          </li>
          <li>
            <a href="https://supportportal.brightcove.com/s/login/?">Contactar soporte</a>
          </li>
          <li>
            <a href="https://support.brightcove.com/">Documentación</a>
          </li>
        </ul>

      </nav>
      <nav role="navigation" aria-labelledby="block-training-menu" id="block-training" class="footer-menu">

        <h2>Formación</h2>

        <ul class="menu">
          <li>
            Cursos en línea<a href="https://studio.support.brightcove.com/training/online-training-courses.html"></a>
          </li>
          <li>
            Inscríbete a un curso<a href="https://studio.support.brightcove.com/training/register-training.html"></a>
          </li>
          <li>
            <a href="https://university.brightcove.com/">Universidad de Brightcove</a>
          </li>
        </ul>

      </nav>
      <nav role="navigation" aria-labelledby="block-brightcove-menu" class="footer-menu">

        <h2>Brightcove</h2>

        <ul class="menu">
          <li>
            <a href="https://www.brightcove.com">BrightCove.com</a>
          </li>
          <li>
            <a href="https://supportportal.brightcove.com/s/login/?">Contáctanos</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="region region-footer-bottom-center col-md-12">
      <div class="bcls-copyright footer-menu">
        <table>
          <tr>
            <td>
              <div id="bc_copyright" class="field field--name-field-copyright-year field--type-string field--label-hidden field--item" style="float: left;"> Brightcove Inc. All rights reserved.</div>
            </td>
            <td>Privacidad | Términos y Condiciones<a href="https://www.brightcove.com/en/legal/privacy"></a><a href="https://www.brightcove.com/en/terms-and-conditions"></a></td>
            <td>
              <div class="gf-links-cols footer-menu">
                <div class="gf-social"><a href="https://www.linkedin.com/company/16439" title="LinkedIn" newtab="newtab" class="gf-social-linkedin"><i class="fab fa-linkedin-in" style="font-size: 1.5rem;"></i></a><a href="https://twitter.com/brightcove" title="Twitter" newtab="newtab" class="gf-social-twitter"><i class="fab fa-twitter" style="font-size: 1.5rem;"></i></a><a href="https://www.facebook.com/Brightcove" title="Facebook" newtab="newtab" class="gf-social-facebook"><i class="fab fa-facebook-f" style="font-size: 1.5rem;"></i></a>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</footer>

<script>
      
  var searchBox = sajari.init({
    mode: "search-box",
    project: "1588255093746585379", // Set this to your project.
    collection: "brightcove-documenation", // Set this to your collection.
    instantPipeline: "autocomplete", // Pipeline used as you type
    inputPlaceholder: "Search", // Input element placeholder
    maxSuggestions: 5, // Maximum number of suggestions to show
    attachSearchBox: document.getElementById("nav-search-box") // DOM element to attach to
  });
  
    searchBox("sub", "pipeline.search-sent", function (_, query) {
      window.location = "/search.html?q=" + encodeURIComponent(query.q);
    });
  

</script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://support.brightcove.com/site-assets/js/site/https-fix.js"></script>
  <script src="https://support.brightcove.com/site-assets/js/site/setDate.js"></script>
  
  <script src="https://support.brightcove.com/site-assets/js/site/prism.js"></script>
  
  <script src="https://support.brightcove.com/site-assets/js/site/site.js"></script>
  <script src="https://support.brightcove.com/site-assets/js/site/tabs.js"></script>
  <script src="https://support.brightcove.com/site-assets/js/site/toc.js"></script>
  <script src="/assets/js/sites_nav.js"></script>
  <script src="https://support.brightcove.com/site-assets/js/site/bcls-utils.js"></script>
  <script src="https://support.brightcove.com/site-assets/js/site/local-link-fix.js"></script>
  <script src="/assets/js/feedback.js"></script>
  
  <script src="/assets/js/sajari-search-foot.js"></script>
  
  <!-- <script src="/assets/js/sajari-index.js"></script> -->
  <style>
    a.sj-paginator__page-number.sj-paginator__page-number--current.css-so0ov7 {
      background-color: lightblue;
    }
    div.sj-tabs__tab {
      margin-top: 3rem;
      margin-left: .3rem;
      border-top-left-radius: .4rem;
      border-top-right-radius: .4rem;
      background-color:#e8e8e8;
    }

    div.sj-tabs__tab.sj-tabs__tab--selected {
      border-bottom-color: crimson;
      background-color: #f8f8f8;
    }

    p.sj-results__result__description.css-p9jvyt {
      font-size: 1rem;
    }

    .sj-result__text.css-31l7gp h3 {
      color: navy;
      font-size: 1.4rem;
    }
    </style>

</body>

</html>
